@page
@model IndexModel
@{
    ViewData["Title"] = "Sương  NAIL";
} 
<div class="text-center">
    <h1 class="display-4">Sương  NAIL</h1>

    <p>Đây là giao diện trang chủ, chúng tôi sẽ sớm nâng cấp tính năng</p>
   
</div>
