@page
@model PrivacyModel
@{
    ViewData["Title"] = "Bảo Trì";
}
<h1>@ViewData["Title"]</h1>

<p>Chúng tôi đang trong quá trình nâng cấp, quý khách vui lòng quay lại trong thời gian tới.</p>
<p>Mời bạn quay lại <a class="navbar-brand" asp-area="" asp-page="/Index"><strong>trang chủ</strong></a></></p>
